@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Work+Sans:wght@400;500&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
}

#form-container {
    background: linear-gradient(180deg, #0C360A, #737373);
    padding: 6em;
    border-radius: 1em;
    position: relative;
    top: 6.5em;
}

body, input, button {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    bottom: 2em;
    text-align: center;
    font-size: 2em;
}

.firstname,
.lastname,
.age,
.password,
.confirmpassword {
    padding-bottom: 10px;
    font-size: 1.5em;
}

input {
    font-size: 20px;
    border-radius: 1em;
    padding-left: 5px;
}


input::placeholder {
    display: inline-block;
    transform: translateX(10px);
}

.link {
    display: flex;
    gap: 16px;
}

button {
    background-color: #fdf7f7;
    color: black;
    font-weight: 700;
    padding: 2px;
    border: none;
    border-radius: 0.5em;
}